.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.header-search {
    background-color: white;
    display: flex;
    min-width: 70px;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    margin-top: 15px;
    margin-left: 200px;

}
#input {
    width: 380px;
}
input {
    border: none;
    width: 100%;
}
#shortcuts {
    margin-right: 200px;
}
