*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.login {
    display: grid;
    place-items: center;
    height: 100vh;
}
.logo {
    padding: 0;
    height: 300px;
}
.login > a {
    background-color: rgb(9, 9, 9);
    border-radius: 50px;
    padding: 20px;
    font-size: bold;
    color: white;
    text-decoration: none ;
}